{% extends "../map.html" %}

{% block body %}
    <h1>{{ _('add_campaign') }}</h1>

    <form id="add-campaign-form" method="post" action="{{ reverse_url('add_campaign') }}">
        {% module xsrf_form_html() %}
        {% raw render_field(form.name) %}
        {% raw render_field(form.desc) %}
        {% raw render_field(form.start) %}
        {% raw render_errors(form.addresses) %}
        {% for id in form.addresses.data %}
            <input type="hidden" name="addresses[]" value="{{ id }}">
        {% end %}
        <input type="submit" value="{{ _('Create campaign') }}">
    </form>
{% end %}

{% block map-options %}
    data-address-handler="CampaignAddressSelector"
{% end %}}