{% extends "../map.html" %}

{% block body %}
    <h1>{{ _(view) }}</h1>

    <form id="campaign-form" method="post" class="pure-form pure-form-aligned">
      <fieldset>
        {% module xsrf_form_html() %}
        {% raw render_field(form.name) %}
        {% raw render_field(form.desc) %}
        {% raw render_field(form.start) %}
        {% raw render_errors(form.addresses) %}
        {% for id in form.addresses.data %}
            <input type="hidden" name="addresses[]" value="{{ id }}">
        {% end %}
        <div class="pure-control-group">
          <button type="submit" class="pure-button">{{ _(view) }}</button>
        </div>
        {% try %}
            <input type="hidden" name="campaign" value="{{ campaign.id }}"/>
        {% except %}
            {# if the previous line blows up coz there is no campaign, it leaves a hanging element #}
            "/>
        {% end %}
      </fieldset>
    </form>
{% end %}

{% block map-options %}
    data-address-handler="CampaignAddressSelector"
{% end %}}
