{% extends "../base.html" %}

{% block body %}
    <h1>{{ campaign.name }}</h1>
    {{ campaign.desc }}
    <div class="pure-g">
      <div class="pure-u-3-4">
        {{ _('start_date') }}: {{ campaign.start.strftime('%d/%m/%Y %H:%M') }}
      </div>
      &nbsp;<br>&nbsp;<br>
      <div class="pure-u-1-4">
        <a href="{{ reverse_url('show_campaign_map', campaign.id) }}" class="pure-button pure-button-primary">{{ _('show_map') }}</a>
        <div class="pure-u-1-24"></div>
      </div>
    </div>
    <input type="hidden" name="campaign_id" value="{{ campaign.id }}"/>
    {% module xsrf_form_html() %}
{% end %}

{% block map %}
    {% raw render_campaign_streets(campaign) %}
{% end %}

{% block scripts %}
    <script src="{{ static_url('js/address_list.js') }}"></script>
{% end %}
