{% extends "../map.html" %}

{% block body %}
    <h1>{{ campaign.name }}</h1>
    {{ campaign.desc }}
    <br><br>
    {{ _('start_date') }}: {{ campaign.start }}
    <input type="hidden" name="campaign_id" value="{{ campaign.id }}"/>
    {% module xsrf_form_html() %}
{% end %}

{% block map-controls %}
<div class="controls">
     <input type="checkbox" class="selector-control" name="track-position">{{ _('track_position') }}</input>
</div>
{% end %}

{% block legend %}
    <div class="legend">
        <div class="legend-item"><span class="legend-colour unmarked"></span>{{ _('unvisited_address') }}</div>
        <div class="legend-item"><span class="legend-colour marked"></span>{{ _('visited_address') }}</div>
        <div class="legend-item"><span class="legend-colour pending"></span>{{ _('pending') }}</div>
    </div>
{% end %}

{% block map-options %}
    data-marker="CampaignMarker"
    data-address-handler="DisplaySelector"
    data-clustering-zoom="5"
{% end %}}