{% extends "../map.html" %}

{% block body %}
    <h1>{{ _('Import from CSV file') }}</h1>
    <form method="post" enctype="multipart/form-data" action="{{ reverse_url('csv_addresses') }}">
        {% module xsrf_form_html() %}
        {{ _('CSV file to import') }}: <input type="file" name="csv"/><br>
        {{ _('The provided file should be a tab delimited CSV file with the following columns')}}:<br>
        {{ _('"lat", "lon", "town", "postcode", "street", "house".') }}<br>
        {{ _('Click') }} <a href="{{ static_url('example_addresses.csv') }}"> {{ _('here') }} </a> {{ _('for an example file') }}.<br>
        <input type="submit" value="{{ _('import_addresses') }}">
    </form>
    <br><br>
    <h1>{{ _('Import by map selection') }}</h1>
    {{ _('You can only select a limited area at once, so if you choose too large an area, an error will appear') }}
{% end %}