{% extends "map.html" %}

{% block body %}
    <h1>{{ _('Add a new campaign') }}</h1>

    <form id="add-campaign-form" method="post" action="{{ reverse_url('add_campaign') }}">
        {% module xsrf_form_html() %}
        {{ _('Campaign name') }}: <input type="text" name="name" value="{{ name }}"><br>
        {% for id in addresses %}
            <input type="hidden" name="addresses[]" value="{{ id }}">
        {% end %}
        <input type="submit" value="{{ _('Create campaign') }}">
    </form>
{% end %}
