<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}leaflets{% end %}</title>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
        <link rel="stylesheet" href="{{ static_url('css/locationfilter.css') }}"/>

        <link rel="stylesheet" href="{{ static_url('css/style.css') }}"/>
    </head>
    <body>
        {% block header %}
            {% if is_admin() %}
                <a href="{{ reverse_url('add_user') }}">{{ _('add user') }}</a>
                <a href="{{ reverse_url('import_addresses') }}">{{ _('import_addresses') }}</a>
            {% end %}
            <span style="margin-right: 20px;"></span>
            {% if current_user %}
                <a href="{{ reverse_url('list_campaign') }}">{{ _('campaigns') }}</a>
                <a href="{{ reverse_url('logout') }}" class="right">{{ _('logout') }} user {{current_user}}</a>
            {% else %}
                <a href="{{ reverse_url('login') }}" class="right">{{ _('login') }}</a>
            {% end %}
        {% end %}
        {% block body %}{% end %}
        {% block map %}{% end %}
        <script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.1.7/leaflet-providers.min.js"></script>
        <script src="{{ static_url('js/locationfilter.js') }}"></script>

        <script src="{{ static_url('js/map.js') }}"></script>
    </body>
</html>
