{% extends "base.html" %}

{% block body %}
    <table>
        <tr>
            <th>{{ _('lat') }}</th>
            <th>{{ _('lon') }}</th>
            <th>{{ _('country') }}</th>
            <th>{{ _('town') }}</th>
            <th>{{ _('postcode') }}</th>
            <th>{{ _('street') }}</th>
            <th>{{ _('house_number') }}</th>
        </tr>
        {% for address in addresses %}
        <tr>
            <td>{{ address.lat }}</td>
            <td>{{ address.lon }}</td>
            <td>{{ address.country }}</td>
            <td>{{ address.town }}</td>
            <td>{{ address.postcode }}</td>
            <td>{{ address.street }}</td>
            <td>{{ address.house }}</td>
        </tr>
        {% end %}
    </table>
{% end %}