{% extends "base.html" %}

{% block map %}
    {% block map-controls %}
        <div class="controls">
          <button id="show-selector" class="pure-button pure-button-primary">{{ _('toggle_selector') }}</button>
          <button class="selector-control pure-button pure-button-primary" id="select-area">{{ _('select_area') }}</button>
          <button class="selector-control pure-button pure-button-primary" id="deselect-area">{{ _('deselect_area') }}</button>
        </div>
    {% end %}
    {% block legend %}{% end %}
    <div class="map-errors"></div>
    <div id="map-container"
         {% block map-options %}
         data-marker="Marker"
         data-address-handler="DisplaySelector"
         data-clustering-zoom="20"
         {% end %}>
    </div>
{% end %}

{% block scripts %}
   <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet-providers/1.1.7/leaflet-providers.min.js"></script>
   <script src="{{ static_url('js/locationfilter.js') }}"></script>
   <script src="{{ static_url('js/leaflet.markercluster-src.js') }}"></script>
   
   <script src="{{ static_url('js/map.js') }}"></script>
   <script src="{{ static_url('js/markers.js') }}"></script>
   <script src="{{ static_url('js/markerHandlers.js') }}"></script>
   <script src="{{ static_url('js/setup.js') }}"></script>
   <script src="{{ static_url('js/user.js') }}"></script>
{% end %}
