{% extends "map.html" %}

{% block body %}
    <h1>Tyle</h1><br>

    Co poprawiać? Trza by to wszystko upiększyć, bo teraz jest szpetny jak but. Podejrzewam, że
    dobrze by było zrobić specjalną wersję mobilną która też będzie ładnie ostylowana w css. Ale oprócz tego,
    podstawowa funkcjonalność już jest.  Zastanawiam się jeszcze nad następującymi rzeczmi: <br><br>
    - jak porozkładać rzeczy na stronie?<br>
    - css/js framework<br>
    - mobile version
    - addresses list for edition<br>
    - groups (userless users)<br>
    - show parent<br>
    - directions - meeting point, to address<br>
    - popup calendar, no seconds<br/>
    - language versions links<br>
    <br><br>
    Jak chcesz inną mapę, to pooglądaj se <a href="http://leaflet-extras.github.io/leaflet-providers/preview/">tutaj</a>
    czy nie ma lepszej.<br>
    Te czerwone kropki też mogę pozmieniać. Tak w zasadzie to wszystko tam idzie zmieniać, tylko trza powiedzieć jak.
    <br><br><br><br>
    Baza danych na tej stronie jest ograniczona do 10000 wpisów w wesji bazowej. Każdy adres to jeden wpis, no i przypisanie
    do kampanii to drugi wpis. Więc póki co ilość adresów jest ograniczona, co oznacza że nie można np. cały śląsk zaznaczyć.<br>
    Administratorzy mogą dodać nowych użytkowników i dodać nowe adresy (co odpowiada na przynajmniej 1 z powyższych pytań).
    <br><br>
    <script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
function random_choice(items){
    return items[Math.round(Math.random() * 100000) % items.length];
}

var addresses = null;

function random_state() {
  var item = JSON.stringify({
        "state": random_choice(['marked', 'selected']),
        "address": random_choice(addresses),
        "campaign": $('input[name="campaign_id"]').val()
   });
   console.log(item);
   CampaignMarker.prototype.socket.send(item);
   return item;
}

function random_clicks(){
    $.get("/campaign/addresses?campaign=" + $('input[name="campaign_id"]').val()).done(function(addrs){
        addresses = $.map(addrs, function(addr, i){ return i;})
        for(var i = 0; i < $('input[name="amount"]').val(); i++){
           random_state()
       };
       console.log('sent all requests');
    });
}
    </script>
    <form class="pure-form">
      <fieldset>
        <legend>Jak chcesz by losowo klikać po jakieś kampani, to możesz tutaj:</legend>
        
        <input type="text" name="campaign_id" placeholder="id kampanii (np. 1)">
        <input type="text" name="amount" placeholder="ilość kliknięć (np 1000)">
        
        <button type="button" class="pure-button pure-button-primary" onclick="random_clicks()">Odpal</button>
      </fieldset>
</form> 
{% end %}
{% block map-options %}
    data-marker="CampaignMarker"
    data-address-handler="DisplaySelector"
    data-clustering-zoom="5"
{% end %}}
