{% extends "base.html" %}

{% block body %}
    {% module xsrf_form_html() %}
    <a href="{{ reverse_url('list_users') }}" class="pure-menu-link">{{ _('manage_users') }}</a>
    {% for user in users %}
        <div 
             {# HACKINESS ALERT!! - but I can't be bothered to do it properly #}
             {% if user.is_group %}
                 class="users-folder-container"
                 onclick="window.location = '{{ reverse_url('users_folder', user.id) }}'"
             {% else %}
                 class="users-user-container"
             {% end %} >
          <div class="user-folder">
            <div class="user-name">{{ user.username }}</div><br>
            {% if not user.is_group and user.first_campaign %}
                <div class="user-campaigns">
                  <a href="{{ reverse_url('assign_campaign', 'map') }}?campaign={{ user.first_campaign.id }}"
                     class="pure-button button-xsmall pure-button-primary">{{ _('assign_addresses') }}</a>
                </div>
            {% end %}
            {% if is_admin() %}
                <span class="user-options">
                  <a href="{{ reverse_url('edit_user') + '?user=%d' % user.id}}"
                     class="pure-button button-xsmall pure-button-primary">{{ _('edit') }}</a>
                </span>
            {% end %}
          </div>
      </div>
    {% end %}
{% end %}

{% block scripts %}
    <script src="{{ static_url('js/user.js') }}"></script>
{% end %}
