div.controls {
    margin: 20px;
}

div.location-filter.button-container
    a.enable-button{
       display: none;
    }

div.map-errors {
    color: red;
}

table, th, td {
    border: 1px solid black;
}

.right{
    float: right;
}

#map-container {
    height: 800px;
}

.user {
    margin: 10px;
}

.user input[type="checkbox"]{
      float: left;
      margin-right: 20px;
}

.user input[type="checkbox"]:checked + div{
    display: block;
}

.user input[type="checkbox"] + div{
    display: none;
}