div.controls {
    margin: 20px;
}

div.location-filter.button-container
    a.enable-button{
       display: none;
    }

div.map-errors {
    color: red;
}

table, th, td {
    border: 1px solid black;
}
