div.controls {
    margin: 20px;
}

.main-menu{
    margin-bottom: 50px;
}

div.location-filter.button-container
    a.enable-button{
       display: none;
    }

div.map-errors {
    color: red;
}

table, th, td {
    border: 1px solid black;
}

.right{
    float: right;
}

.centered{
    text-align: center;
}

.splash{
    position: absolute;
    top: 25%;
    left: 20%;
    height: 30%;
    width: 50%;
}

#map-container {
    height: 800px;
}


div.legend {
    min-height: 1em;
    overflow: hidden;
}
div.legend div.legend-item {
    float: left;
    padding-right: 20px;
}
span.legend-colour {
    margin-right: 10px;
    padding: 0px 10px;
}
span.legend-colour.marked {
    background-color: blue;
}
span.legend-colour.unmarked {
    background-color: red;
}
span.legend-colour.pending {
    background-color: gray;
}
span.legend-colour.other-user {
    background-color: green;
}
span.legend-colour.child {
    background-color: #9C51B6;
}
span.legend-colour.parent {
    background-color: #5DADEC;
}


.user {
    padding: 10px;
    border-style: groove;
    overflow: auto;
    display: inline-block;
}

.user .children{
    display: inline-block;
}

.user input[type="checkbox"]:checked ~ .children{
    display: inline-block;
}

input[type="radio"]:checked + .user{
    background-color: #F08080;
}

.user.group > label::before{
    vertical-align: top;
    background-color: cyan; 
    padding: 0px 3px;
    content: "+";
}
.user.group > input[type="checkbox"]:checked + label::before{
    content: "-";
}

.user-info *{
    vertical-align: top;
}

.user-info .pending{
    background-color: #F08080	;
    padding: 3px 5px;
}

.checklist-level input[type="radio"] ~ div,
.user input[type="checkbox"] ~ .children{
    display: none;
}

.indented{
    margin-left: 40px;
}

.checklist-level input[type="radio"]{
    display: none;
}

.checklist-level input[type="radio"]:checked ~ div{
    display: block;
}

.checklist-item input[type="checkbox"]:checked + label,
.checklist-level.checked {
    text-decoration: line-through;
    color: gray;
}

.checklist-item.pending input[type="checkbox"] + label{
    text-decoration: none;
    color: red;
}

.active-drag {
  opacity: 0.7;
}